<h1>Gym Buddies</h1>
<h2>Please Login Below</h2>


<form action="/login" method="POST">

    <label>Username:</label><p><input type="text" name="username"></p>
    <label>Password:</label><p><input type="password" name="password"></p>
    <br>
    <input type="submit" value="Login">


</form>