<h1>Welcome to <%= @user.username.capitalize %>'s Gym Page </h1>

<%# a list of all the users workout %>
<ul>

<% @days.each do |day|%>
    <li><a href="/days/<%=day.id%>"><%=day.day%>-<%=day.workout%></li>
<% end %>

</ul>




