<h1>Please Fill Out the From to Create an Account</h1>


<form action="/users" method="POST">

    <label>Username:</label><p><input type="text" name="username"></p>
    <label>Password:</label><p><input type="password" name="password"></p>
    <br>
    <input type="submit" value="JOIN">





</form>