<h1>Edited New Day </h1>

<%# action must match where the post is going to be viewed %>
<form action="/days" method="POST">
    <label>New Day</label>
    <input type="text" name="day">
    <br>
    <label>Workout</label>
    <input type="text" name="workout">
    <br>

    <input type="submit">
</form>