<h1>Gym Buddies </h1>

<h2>Lets Add A New Workout! </h2>

<%# action must match where the post is going to be viewed %>
<form action="/days" method="POST">
    <label>Day</label>
    <input type="text" name="day">
    <br>
    <label>Workout</label>
    <input type="text" name="workout">
    <br>

    <input type="submit">
</form>