<h1> Gym Buddies  </h1>


<h3>On - <%=@day.day.capitalize%> - Is Working Out - <%= @day.workout %></h3>


<%# Delete Function only to be seen if its the user that is logged in %>
<%if check_owner(@day)%>
    <form action="/days/<%=@day.id%>>" method="POST"> 
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>

    <%# to edit an item.. link to the edit page  %>
    <a href="/days/<%=@day.id%>/edit">Edit This Workout</a>
 
<% end %>