<h1> New Day </h1>


<p><%= @day.day %> - <%= @day.workout %></p>


<%# Delete %>
<form action="/days/<%=@day.id%>>" method="POST"> 
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
