<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

        <%if current_user%>
            <a href="/days/new">Add A Day</a>
            <a href="/logout">Log Out</a>
            <a href="/users">All Users</a>
            <a href="/users/<%=@user.id%>">Me</a>
        <%else%>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        <%end%>
    <%=yield%>

</body>



